@model GenreAddViewModel
<html>
</html>
<h3>Tür Ekleme</h3>

<form method="post" asp-controller="Genre" asp-action="Add">
    <div class="ml-custom">
        <label>İsim</label>
        <input asp-for="GenreName" class="form-control" style=" width: 700px;" type="text" />
        <span asp-validation-for="GenreName" class="text-danger mt-2 fw-bold"></span>
    </div>



    <button type="submit" class="btn btn-success mt-2">Kaydet</button>
</form>